.stat-section {
  background: var(--first-color-50);
  padding: 40px 45px;

  &-paragraph {
    &-title, &-title-highlight {
      font-size: var(--medium-font);
      font-weight: var(--extra-large-font-weight);
    }

    &-title-highlight {
      color: var(--first-color-500);
    }

    &-info {
      font-weight: var(--small-font-weight);
      margin-bottom: 35px;
    }
  }

  .stat-section-icon {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .stat-section-icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        font-size: var(--xx-large-font);
        color: var(--first-color-500);
      }

      .stat-number {
        font-size: var(--x-medium-large-font);
        font-weight: var(--maximum-font-weight);
      }

      .stat-description {
        font-weight: var(--extra-large-font-weight);
      }
    }
  }
}


@media (min-width: 1024px) {
  .stat-section {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-paragraph {
      min-width: 505px;

      &-title, &-title-highlight {
        font-size: var(--medium-large-font);
      }

      &-title-highlight {
        color: var(--first-color-500);
      }

      &-info {
        font-size: var(--normal-font);
      }
    }

    .stat-section-icon {
      flex-direction: row;

      .stat-section-icon-item {

        .icon {
          text-align: center;
        }

        .stat-number {
          text-align: center;
        }

        .stat-description {
          text-align: center;
        }
      }
    }
  }

}