.survey {
  height: calc(100vh - 113px);

  &-form {
    padding: 52px 32px 0;

    &-error {
      color: var(--color-error-message);
      font-weight: var(--normal-font-weight);
    }

    &-title {
      font-size: var(--normal-font);
      font-weight: var(--large-font-weight);
      padding-bottom: 26px;
    }

    &-paragraph {
      font-size: var(--base-font);

      &-instruction {
        font-weight: var(--normal-font-weight);
        padding-bottom: 32px;
      }

      &-question {
        font-weight: var(--large-font-weight);
        padding-bottom: 14px;
      }

      &-question-info {
        font-weight: var(--normal-font-weight);
        padding-bottom: 28px;
      }
    }

    &-button, &-input {
      padding-bottom: 6px;
    }

    &-button {
      display: flex;
      justify-content: center;
    }

    &-commands {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 12px 32px;

      &-button-send {

        button {
          cursor: pointer;
          padding: 8px 22px;
          font-size: var(--normal-font);
          font-weight: var(--extra-large-font-weight);
          color: var(--first-color-950);
          background-color: var(--color-button);
          border-radius: var(--normal-border-radius);
          border: unset;
        }
      }

      &-buttons-navigation {
        display: flex;
        gap: 8px;

        button {
          cursor: pointer;
          padding: 2px 4px;
          font-size: var(--normal-font);
          font-weight: var(--extra-large-font-weight);
          color: var(--first-color-950);
          background-color: var(--color-button);
          border-radius: var(--normal-border-radius);
          border: unset;
        }
      }
    }
  }
}
