.large-challenge {
  background: var(--color-large-background-card);
  border: var(--color-border-card) solid 1px;
  box-shadow: var(--border-card-shadow);
  border-radius: var(--normal-border-radius);
  background-image: url("@/../src/assets/illustrations/mobile.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;

  &-content {
    &-information {
      margin: 21px;
      padding: 7px 15px;
      background: var(--color-info-background-card);
      border-radius: var(--large-border-radius);

      &-title {
        font-size: var(--normal-font);
        font-weight: var(--extra-large-font-weight);
      }

      &-info {
        font-weight: var(--medium-font-weight);
      }
    }

    &-start {
      margin-top: 253px;
      margin-bottom: 26px;
      display: flex;
      justify-content: center;

      &-button {
        padding: 12px 26px;
        font-size: var(--normal-font);
        font-weight: var(--extra-large-font-weight);
        color: var(--first-color-950);
        background-color: var(--color-button);
        border-radius: var(--normal-border-radius);
        border: unset;
      }
    }
  }
}

@media (min-width: 1280px) {
  .large-challenge {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: 60%;

    &-content {
      padding: 20px;
      display: flex;
      justify-content: space-between;


      &-information {
        width: 70%;
        margin: 0 25px 0 0;

        &-title {
          font-size: var(--medium-font);
        }

        &-info {
          font-size: var(--normal-font);
        }
      }

      &-start {
        margin: unset;
        display: block;

        &-button {
          font-size: var(--medium-font);
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .large-challenge {
    background-size: 40%;

    &-content {
      padding: 60px;

      &-information {
        width: 50%;
        margin: 0 25px 0 0;

        &-title {
          font-size: var(--medium-large-font);
        }

        &-info {
          font-size: var(--medium-font);
        }
      }

      &-start {
        &-button {
          font-size: var(--medium-large-font);
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .large-challenge {
    &-content {
      &-information {

        &-title {
          font-size: var(--x-medium-large-font);
        }

        &-info {
          font-size: var(--medium-large-font);
        }
      }

      &-start {
        &-button {
          font-size: var(--x-medium-large-font);
        }
      }
    }
  }
}