.list-section {
  &-title {
    padding-left: 16px;
    padding-top: 42px;
    padding-bottom: 32px;
    font-size: var(--medium-font);
    font-weight: var(--extra-large-font-weight);
    text-transform: uppercase;
  }

  &-cards {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .small-challenge {
    margin: 0 16px;
  }
}

@media (min-width: 1280px) {
  .list-section {
    &-title {
      padding-left: 40px;
      font-size: var(--medium-large-font);
    }

    &-cards {
      height: 100%;
      justify-content: center;
      flex-direction: row;
    }

    .small-challenge {
      margin: 0 16px;
      width: 28%;
    }
  }
}

@media (min-width: 1600px) {
  .list-section {
    &-title {
      padding-left: 68px;
    }

    .small-challenge {
      height: 670px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &-information {
        margin: 0 21px 21px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .list-section {
    &-title {
      padding-left: 89px;
      font-size: var(--x-medium-large-font);
    }

    .small-challenge {
      height: 738px;
    }
  }
}













