.list-section {
  &-title {
    padding-left: 16px;
    padding-top: 48px;
    padding-bottom: 32px;
    font-size: var(--medium-font);
    font-weight: var(--extra-large-font-weight);
    text-transform: uppercase;
  }

  &-cards {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .small-challenge {
    margin: 0 16px;
  }
}