.header-section {
  height: 61px;
  width: 100%;
  background: var(--first-color-0);
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    color: var(--first-color-950);
    text-decoration: none;
    font-size: var(--large-font);
    font-weight: var(--large-font-weight);
  }
}