.daily-challenge {
  height: calc(100vh - 61px);
  width: 100vw;

  &-title {
    padding-top: 48px;
    padding-bottom: 32px;
    font-size: var(--medium-font);
    font-weight: var(--extra-large-font-weight);
  }
}