.header-nav {
  height: 61px;
  width: 100%;
  background: var(--first-color-0);
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    font-size: var(--large-font);
    font-weight: var(--normal-font-weight);
  }
}