.small-challenge {
  background: var(--color-large-background-card);
  border: var(--color-border-card) solid 1px;
  box-shadow: var(--border-card-shadow);
  border-radius: var(--normal-border-radius);
  background-image: url("@/../src/assets/illustrations/mobile.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 10%;

  &-information {
    margin: 264px 21px 21px;
    padding: 7px 15px;
    background: var(--color-info-background-card);
    border-radius: var(--large-border-radius);

    &-title {
      font-size: var(--normal-font);
      font-weight: var(--extra-large-font-weight);
    }

    &-info {
      font-weight: var(--medium-font-weight);
    }
  }

  &-start {
    margin-left: 21px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    gap: 20px;

    &-button {
      cursor: pointer;
      padding: 12px 26px;
      font-size: var(--normal-font);
      font-weight: var(--extra-large-font-weight);
      color: var(--first-color-950);
      background-color: var(--color-button);
      border-radius: var(--normal-border-radius);
      border: unset;
    }

    &-badge {
      background: var(--color-large-background-card);
      border: var(--color-border-card) solid 1px;
      box-shadow: var(--border-card-shadow);
      border-radius: var(--extra-boder-radius);

      &-date {
        text-transform: uppercase;
        padding: 6px;
        font-size: var(--small-font);
        font-weight: var(--extra-large-font-weight);
      }
    }
  }
}

@media (min-width: 1024px) {
  .small-challenge {
    &-information {
      height: 160px;

      &-title {
        font-size: var(--medium-font);
      }

      &-info {
        font-size: var(--normal-font);
      }
    }

    &-start {
      &-button {
        font-size: var(--medium-font);
      }

      &-badge {

        &-date {
          font-size: var(--base-font);
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .small-challenge {
    &-information {
      &-title {
        font-size: var(--medium-large-font);
      }

      &-info {
        font-size: var(--medium-font);
      }
    }

    &-start {
      &-button {
        font-size: var(--medium-large-font);
      }
    }
  }
}

@media (min-width: 1920px) {
  .small-challenge {
    &-information {
      &-title {
        font-size: var(--x-medium-large-font);
      }

      &-info {
        font-size: var(--medium-large-font);
      }
    }

    &-start {
      &-button {
        font-size: var(--x-medium-large-font);
      }
    }
  }
}

