.survey-rules {
  height: calc(100% - 103px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-header {
    padding-top: 28px;
    padding-bottom: 24px;

    &-back {
      margin: auto auto auto 10px;
      padding-bottom: 12px;

      &-button {
        cursor: pointer;
        padding: 8px 16px;
        font-size: var(--base-font);
        font-weight: var(--large-font-weight);
        background-color: var(--color-button);
        border-radius: var(--normal-border-radius);
        border: unset;
      }
    }

    &-info {
      flex-grow: 1;
      text-align: center;

      &-title {
        font-size: var(--normal-font);
        font-weight: var(--extra-large-font-weight);
      }

      &-subtitle {
        font-weight: var(--large-font-weight);
      }
    }
  }

  &-split {
    &-left {
      text-align: center;
      padding-top: 28px;
      padding-bottom: 56px;

      >img {
        width: 70%;
        height: auto;
      }
    }

    &-right {
      padding: 32px;

      &-title {
        font-size: var(--normal-font);
        font-weight: var(--extra-large-font-weight);
        padding-bottom: 12px;
      }

      &-text {
        font-weight: var(--normal-font-weight);
        padding-bottom: 8px;
      }

      &-start {
        display: flex;
        justify-content: center;
        padding-top: 26px;
        align-items: center;

        &-button {
          cursor: pointer;
          padding: 12px 26px;
          font-size: var(--normal-font);
          font-weight: var(--extra-large-font-weight);
          color: var(--first-color-950);
          background-color: var(--color-button);
          border-radius: var(--normal-border-radius);
          border: unset;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .survey-rules {
    height: calc(100vh - 103px);

    &-header {
      &-back {
        &-button {
          font-size: var(--medium-font);
        }
      }

      &-info {
        &-title {
          font-size: var(--medium-font);
        }

        &-subtitle {
          font-size: var(--normal-font);
        }
      }
    }

    &-split {
      display: flex;

      &-right {
        width: 60%;

        &-title {
          font-size: var(--medium-font);
        }

        &-text {
          font-size: var(--normal-font);
        }

        &-start {
          justify-content: flex-end;

          &-button {
            font-size: var(--medium-font);
          }
        }
      }
    }
  }

}

@media (min-width: 1600px) {
  .survey-rules {
    height: calc(100vh - 103px);

    &-header {
      &-info {
        &-title {
          font-size: var(--medium-large-font);
        }

        &-subtitle {
          font-size: var(--medium-font);
        }
      }
    }

    &-split {
      display: flex;

      &-right {
        &-title {
          font-size: var(--medium-large-font);
        }

        &-text {
          font-size: var(--medium-font);
        }

        &-start {
          &-button {
            font-size: var(--medium-font);
          }
        }
      }
    }
  }

}

@media (min-width: 1920px) {
  .survey-rules {
    height: calc(100vh - 103px);

    &-header {
      &-info {
        &-title {
          font-size: var(--x-medium-large-font);
        }

        &-subtitle {
          font-size: var(--medium-large-font);
        }
      }
    }

    &-split {
      display: flex;

      &-right {
        &-title {
          font-size: var(--x-medium-large-font);
        }

        &-text {
          font-size: var(--medium-large-font);
        }

        &-start {
          &-button {
            font-size: var(--medium-large-font);
          }
        }
      }
    }
  }

}