.daily-section {
  overflow: hidden;

  &-title {
    padding-left: 16px;
    padding-top: 42px;
    padding-bottom: 32px;
    font-size: var(--medium-font);
    font-weight: var(--extra-large-font-weight);
    text-transform: uppercase;
  }

  .large-challenge {
    margin: 0 16px 56px 16px;
  }
}

@media (min-width: 1024px) {
  .daily-section {
    height: calc(100vh - 63px);

    &-title {
      padding-top: 32px;
      padding-bottom: 22px;
      font-size: var(--medium-large-font);
      padding-left: 166px;
    }
    .large-challenge {
      height: 75%;
      margin: 0 166px 56px 166px;
    }
  }
}

@media (min-width: 1600px) {
  .daily-section {
    height: 100%;

    .large-challenge {
      height: 670px;
    }
  }
}

@media (min-width: 1600px) {
  .daily-section {
    &-title {
      font-size: var(--x-medium-large-font);
    }
  }
}

@media (min-width: 1600px) {
  .daily-section {
    &-title {
      font-size: var(--large-font);
    }
  }
}