.daily-section {
  overflow: hidden;

  &-title {
    padding-left: 16px;
    padding-top: 42px;
    padding-bottom: 32px;
    font-size: var(--medium-font);
    font-weight: var(--extra-large-font-weight);
    text-transform: uppercase;
  }

  &-slideshow-container {
    position: relative;
    margin: auto;
  }

  &-slide {
    display: none;
  }

  &-prev, &-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--first-color-950);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  &-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  &-prev:hover, &-next:hover {
    background-color: var(--first-color-0);
  }

  &-navigation {
    text-align: center;
    margin-bottom: 14px;
  }

  &-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  &-active, &-dot:hover {
    background-color: #717171;
  }

  &-fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}

@media (min-width: 1280px) {
  .daily-section {
    &-title {
      padding-top: 32px;
      padding-bottom: 22px;
      font-size: var(--medium-large-font);
      padding-left: 166px;
    }
    .large-challenge {
      height: 520px;
      margin: 0 166px 26px 166px;
    }
  }
}

@media (min-width: 1600px) {
  .daily-section {
    .large-challenge {
      height: 670px;
    }
  }
}

@media (min-width: 1600px) {
  .daily-section {
    &-title {
      font-size: var(--x-medium-large-font);
    }
  }
}

@media (min-width: 1600px) {
  .daily-section {
    &-title {
      font-size: var(--large-font);
    }
  }
}