.input-response {
    text-align: center;

  &-label {
    display: none;
  }

  &-input {
    min-width: 70%;
    padding: 8px;
    background-color: var(--first-color-0);
    border: solid var(--first-color-950);
    border-radius: var(--small-border-radius);
  }
}