.input-response {
  &-label {
    display: none;
  }

  &-input {
    width: 100%;
    padding: 8px;
    background-color: var(--first-color-0);
    border: solid var(--first-color-950);
    border-radius: var(--small-border-radius);
  }
}