@import './base.css';

body {

  #app {
    backdrop-filter: blur(180px);
    background-color: var(--first-color-0);
    background-image: linear-gradient(-32deg, var(--gradient-color-both) 0%, var(--gradient-color-mid) 50%, var(--gradient-color-both) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (min-width: 1280px) {

}
